.independent {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    width: 70%;
    // background-color: #fff;
    padding: 20px;
  }

  .top {
    background-color: #fff;
  }

  .divider {
    height: 3px;
    margin: 0;
  }

  .time {
    background-color: #fff;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    color: red;
    text-align: end;
  }

  .body {
    background-color: #fff;
    padding: 0 20px;
  }

  .title {
    color: black;
    font-size: 16px;
    line-height: 32px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
  }

  .tag {
    width: 25%;
    text-align: center;
  }

  .total {
    font-size: 16px;
    color: red;
  }

  .count {
    width: 15%;
    text-align: center;
  }

  .online {
    font-size: 16px;
    padding: 5px 0;
  }

  .test {
    width: 15%;
    text-align: center;
  }

  .item {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .bottom {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .breadcrump {
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .link {
    text-decoration: none;
  }

  .link :hover {
    text-decoration: none;
  }

  .classlist {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
  }

  .formitem {
    margin: 5px 0;
  }

  .radio {
    margin-right: 10px;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }
}