body {
  background-color: #001529;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  .login-content .login {
    color: white;
    font-size: 16px;
  }

  .form {
    width: 300px;
  }

  .title {
    color: white;
    font-size: 16px;
  }

  .radio {
    color: white;
  }
}