.projectContent{
  
  .divider {
    margin: 0;
    height: 2px;
  }
  .head {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 16px;
  }
}