.studentIndex {
  width: 100vw;
  height: 100vh;
  background-color: white;

  .top {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    position: relative;
  }
  .logOut {
    position: absolute;
    right: 20px;
  }
  .drop{
    padding: 10px;
    font-size: 16px;
  }
  .drop:hover{
    background-color: #eee;
  }
  .content{
    // background-color: white;
    // margin-top: 20px;
    padding: 20px;
  }
  .message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #fafafa;
    padding: 10px;
  }
  .announce{
    padding: 20px;
  }
  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fafafa;
    align-items: center;
  }
  .title{
    color: black;
    font-size: 16px;
    padding-left: 10px;
    line-height: 32px;
  }
  .more{
    color: black;
    font-size: 16px;
  }
  .divider{
    margin: 0;
  }
  .link{
    text-decoration: none;
  }
}