.studentIndex {
  width: 100vw;
  height: 100vh;
  background-color: #eee;

  .top {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }
  .logOut {
    position: absolute;
    right: 20px;
  }
  .drop{
    padding: 10px;
    font-size: 16px;
  }
  .drop:hover{
    background-color: #eee;
  }
  .content{
    background-color: white;
    margin-top: 20px;
    padding-left: 20px;
  }
}